@import "tailwindcss";

@font-face {
  font-family: font1;
  src: url(../src/assets/Fonts/Runiga.otf);
}
@font-face {
  font-family: font2;
  src: url(../src/assets/Fonts/COVERS\ SHORES\ DEMO.ttf);
}

body{
  overflow-x:hidden;
}

.moveX{
  animation-delay: 1s;
  animation-name:moveAnimation;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.moveLink{
  opacity: 0;

}

.link:hover .moveLink{
  opacity:1;
  transition:ease-in-out 300ms;
}

@keyframes moveAnimation {
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(-100%);
  }
}

.link{
  border-color: gray;
}